body{
    background-color:#032030;
    color:#fff;
}
.gradiant-text {
    -webkit-background-clip: text;
    @apply bg-gradient-to-t from-blue-500 to-cyan-900 text-transparent ;
    overflow:hidden;
    border-right:2px solid #fff;
    animation:typing-text steps(40) 3s infinite, blink linear 0.1s infinite;
    text-wrap:nowrap;
    display:inline-block;
    width:0;
}

@keyframes typing-text{
    from{
        width:0;
    }
    to{
        width:375px;
    }
}
@keyframes typing-text{
    50%{
        border-color:transparent
    }
}



 
 

